@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap");
html, button {
  font-family: 'Roboto Condensed', sans-serif; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #E2E2E2; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  max-width: 563px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  background-color: #363636;
  padding: 2rem 0 1rem 0; }
  header .container {
    color: #ffffff; }
    header .container h1 {
      width: min-content;
      text-transform: uppercase;
      line-height: 0.9; }
    header .container hr {
      height: 2px;
      background-color: #ffffff;
      border: 0; }
    header .container h2 {
      font-weight: 300; }
    header .container p {
      margin: 0; }

.fa-chart-pie {
  color: #c6538c; }

.card {
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin-top: 2rem; }
  .card:last-child {
    margin-bottom: 2rem; }
  .card .card__description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem; }
    .card .card__description div:first-child {
      width: 25%; }
    .card .card__description div:nth-child(2) {
      width: 75%; }
      .card .card__description div:nth-child(2) p {
        margin: 0; }
  .card .card__btn {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF7946;
    border: 0;
    padding: 0.35rem 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit; }

.card__title {
  font-size: 2rem; }
  .card__title span {
    font-size: 1rem;
    font-weight: 300; }

@media only screen and (min-width: 768px) {
  .container {
    max-width: 960px; } }
