@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap");
html {
  font-family: 'Roboto Condensed', sans-serif; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #E2E2E2; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  max-width: 563px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  background-color: #363636;
  padding: 2rem 0 1rem 0; }
  header .container {
    color: #ffffff; }
    header .container h1 {
      width: min-content;
      text-transform: uppercase;
      line-height: 0.9; }
    header .container hr {
      height: 2px;
      background-color: #ffffff;
      border: 0; }
    header .container h2 {
      font-weight: 300; }
    header .container p {
      margin: 0; }

@media only screen and (min-width: 768px) {
  .container {
    max-width: 960px; } }
