@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap');

$charcoal: #363636;
$gray: #E2E2E2;
$pink: #c6538c;
$orange: #FF7946;
$white: #ffffff;

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 563px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  background-color: $charcoal;
  padding: 2rem 0 1rem 0;
  .container {
    color: $white;
    h1 {
      width: min-content;
      text-transform: uppercase;
      line-height: 0.9;
    }
    hr {
      height: 2px;
      background-color: $white;
      border: 0;
    }
    h2 {
      font-weight: 300;
    }
    p {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}