@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap');

$charcoal: #363636;
$white: #E2E2E2;
$pink: #c6538c;
$orange: #FF7946;

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}